.block--match {
  background: #eee;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  > p {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  > div {
    > div {
      padding: 0 1rem;
      &:nth-child(2),
      &:nth-child(3) {
        span {
          display: block;
        }
      }
      &:nth-child(2) {
        width: 100%;
        max-width: 260px;
      }
      &:nth-child(3) span {
        text-align: center;
      }
    }
  }
  * {
    color: #212121;
  }
}
.sec--fixtures {
  > div {
    flex: 1 1 50%;
    &:first-child {
      padding-right: 1rem;
    }
    &:last-child {
      padding-left: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .sec--fixtures {
    flex-wrap: wrap;
    > div {
      flex: 1 1 100%;
      padding: 0;
      &:first-child {
        padding-right: 0;
      }
      &:last-child {
        margin-top: 2rem;
        padding-left: 0;
      }
    }
  }
}
