.btn {
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 0.5rem;
  margin: 1rem 0;
  &.btn--primary {
    background: #212121;
  }
}
